//
   Created by lenovo on 2016/5/2.
link(href="/libs/bootstrap/dist/css/bootstrap.min.css",rel="stylesheet")
link(href="stylesheets/indexPage.css",rel="stylesheet")
link(href='stylesheets/blogPage.css',rel='stylesheet')
link(href='stylesheets/blogContent.css',rel='stylesheet')
script(src="/libs/jquery/dist/jquery.min.js")
script(src="libs/bootstrap/dist/js/bootstrap.min.js")

