//
   Created by lenovo on 2016/5/6.
extends layout/blogLayout

block blog-content
    .col-md-8.col-md-offset-2.blog-outer
        .blog-content
            form#blogForm.form-horizontal(method="POST", action="/admin/addpage")
                input(type='hidden',name='author',value='#{user._id}')
                .form-group
                    h4 &nbsp;&nbsp;&nbsp;类型
                    .col-md-12
                        each cate in categories
                            label.radio-inline
                                input(type='radio',name='category',value=cate._id)
                                | #{cate.name}
                .form-group
                    h4 &nbsp;&nbsp;&nbsp;文章标题
                    .col-md-12
                        input#blogTitle.form-control(type='text',name='title')
                .form-group
                    h4 &nbsp;&nbsp;&nbsp;内容
                    .col-md-12
                        textarea.textarea.form-control(name="content", rows="20")

                button.btn.btn-primary.btn-block(type='submit') 提交
