//
   Created by lenovo on 2016/5/6.
extends layout/blogLayout

block blog-content
    .col-md-8.col-md-offset-2.blog-outer
        .blog-content
            form#blogForm.form-horizontal(method="POST", action="/admin/addpage")
                .form-group
                    h4 &nbsp;&nbsp;&nbsp;类型
                    .col-md-12
                        label.radio-inline
                            input(type='radio',name='category',value='HTML')
                            | HTML
                        label.radio-inline
                            input(type='radio',name='category',value='CSS')
                            | CSS
                        label.radio-inline
                            input(type='radio',name='category',value='JAVASCRIPT')
                            | JAVASCRIPT
                        label.radio-inline
                            input(type='radio',name='category',value='JQUERY')
                            | JQUERY
                        label.radio-inline
                            input(type='radio',name='category',value='NODEJS')
                            | NODEJS
                        label.radio-inline
                            input(type='radio',name='category',value='ANGULARJS')
                            | ANGULARJS
                        label.radio-inline
                            input(type='radio',name='category',value='其他')
                            | 其他
                .form-group
                    h4 &nbsp;&nbsp;&nbsp;文章标题
                    .col-md-12
                        input#blogTitle.form-control(type='text',name='title')
                .form-group
                    h4 &nbsp;&nbsp;&nbsp;内容
                    .col-md-12
                        textarea.textarea.form-control(name="content", rows="20")

                button.btn.btn-primary.btn-block(type='submit') 提交
